<div class="users">
  <h1 class="users__title">Users</h1>

  <div class="users__list">
    <div class="user" *ngFor="let user of list;">
      <img class="user__avatar" [src]="user.owner.foto" width="25%">
      <a class="user__name" [routerLink]="['/user-details', user.userid]">{{ user.owner.name }} {{ user.owner.surname }}</a>
      <span class="user__count">{{ user.vehicles.length }}</span>
    </div>
  </div>

</div>
