/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.custom-buttons,
.ol-attribution,
.ol-rotate-reset {
  display: none;
}

.map-wrapper {
  position: relative;
}

.vehicle-info {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  &__prop {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    &-name {
      display: block;
      font-style: italic;
      min-width: 70px;
    }
    &-value {
      font-weight: bold;
      margin-left: 8px;
    }
  }
}
