<div id="user-details">
  <h1 class="user__title">User Details</h1>

  <div class="user-vehicles" *ngIf="items.length">
    <div class="vehicle" *ngFor="let vehicle of items;">
      <span class="vehicle__coords" (click)="vehicleClicked(vehicle)">{{vehicle.lat}} {{vehicle.lon}}</span>
    </div>

    <div class="map-wrapper">
      <mangol [config]="config" (mapReady)="onMapReady($event)"></mangol>

      <div class="vehicle-info" *ngIf="selectedItem">
        <button (click)="closeVehicleInfo()">Close</button>
        <div class="vehicle-info__prop">
          <span class="vehicle-info__prop-name">Vehicle Id</span>
          <span class="vehicle-info__prop-value">{{selectedItem.vehicleid}}</span>
        </div>
        <div class="vehicle-info__prop">
          <span class="vehicle-info__prop-name">Latitude</span>
          <span class="vehicle-info__prop-value">{{selectedItem.lat}}</span>
        </div>
        <div class="vehicle-info__prop">
          <span class="vehicle-info__prop-name">Longitude</span>
          <span class="vehicle-info__prop-value">{{selectedItem.lon}}</span>
        </div>
        <div class="vehicle-info__prop" *ngIf="selectedItem.address">
          <span class="vehicle-info__prop-name">Address</span>
          <span class="vehicle-info__prop-value">{{selectedItem.address}}</span>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="!items.length">No data</div>

</div>
